{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"$defs\":{\"Empleado\":{\"type\":\"object\",\"properties\":{\"apellidos\":{\"type\":\"string\"},\"dni\":{\"type\":\"string\"},\"fechaNacimiento\":{\"type\":\"string\"},\"nombre\":{\"type\":\"string\"}}}},\"type\":\"object\",\"properties\":{\"datosOriginalesEmpleado\":{\"$ref\":\"#/$defs/Empleado\",\"input\":true},\"mensajeDatosIncorrectos\":{\"type\":\"string\",\"input\":true},\"datosModificadosEmpleado\":{\"$ref\":\"#/$defs/Empleado\",\"output\":true}}}"
}