{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"$defs\":{\"Empleado\":{\"type\":\"object\",\"properties\":{\"apellidos\":{\"type\":\"string\"},\"dni\":{\"type\":\"string\"},\"fechaNacimiento\":{\"type\":\"string\"},\"nombre\":{\"type\":\"string\"}}}},\"properties\":{\"empleado\":{\"$ref\":\"#/$defs/Empleado\",\"output\":true}}}"
}