{
    "resources": {
        "styles": {},
        "scripts": {}
    },
    "schema": "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"$defs\":{\"Empleado\":{\"type\":\"object\",\"properties\":{\"apellidos\":{\"type\":\"string\"},\"dni\":{\"type\":\"string\"},\"fechaNacimiento\":{\"type\":\"string\"},\"nombre\":{\"type\":\"string\"}}}},\"type\":\"object\",\"properties\":{\"empleado\":{\"$ref\":\"#/$defs/Empleado\",\"input\":true},\"datosEmpleadoCorrectos\":{\"type\":\"boolean\",\"output\":true},\"mensajeValidacion\":{\"type\":\"string\",\"output\":true}}}"
}